
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: makerShadow;
  overflow: hidden;
  z-index: 0;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 22rem;
  top: 50%;
  left: 50%;
  padding: 0.8rem;
  transform: translate(-50%, -50%);
  max-height: 80%;
  background-color: makerWhite;
  border-radius: 1rem;
}

.btns {
  display: flex;
  justify-content: end;
}
.btn {
  color: makerWhite;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}
.yes {
  background-color: mainPointColor;
  margin-right: 1rem;
}
.no {
  background-color: subPointColor;
}
