@value mainColor,mainTrans,makerGrey from "../../common/color.css";

.container {
  display: flex;
  flex-direction: column;
  font-family: "CookieRun";
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add {
  width: 3rem;
}
