
.container {
  width: 4rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  border-right: 0.1rem solid;
  border-bottom: 0.1rem solid;
  cursor: pointer;
}

.day {
  color: makerGrey;
  margin-left: 0.1rem;
  font-size: 0.8rem;
  font-family: "CookieRun";
}
.thumbnailContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 3rem;
  cursor: pointer;
}

.sun {
  color: #ff5f5f;
}
.sat {
  color: #4f9dff;
}
.notDay {
  color: makerLightGrey;
}
