@value makerWhite,makerShadow,subPointColor,mainPointColor,makerLightGrey from "../../../common/color.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: makerWhite;
  padding: 4rem 2rem 4rem 0;
}
.container img {
  width: 10rem;
}
.close {
  text-align: right;
}
.container button {
  width: 100%;
  padding: 1rem;
}
.buttons button:hover {
  background: makerLightGrey;
}
.btn_delete {
  color: red;
}
