@value mainColor,subColor,makerWhite,makerShadow,subPointColor,mainPointColor from "../../../common/color.css";

.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  padding: 1rem 0;
}

.button.grey {
  background-color: mainColor;
}
.button.pink {
  background-color: subColor;
}

.button:hover {
  opacity: 0.8;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid mainColor;
  border-top: 3px solid subColor;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
