.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.calendar {
  top: 50%;
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  transform: translate(100%, 30%);
}
.modify {
  width: 100%;
  background-color: mainColor;
}
