/* search */
.container{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'IM_Hyemin-Bold';
  font-size: var(--f20);
}

.tokki_says{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top : 100px;
}
.tokki_says img{
  width: 200px;
}

/* search list */

.booklist{
  display: flex;
  flex-wrap: wrap;
}



/* search card */
.book{
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'IM_Hyemin';
  margin-top: 40px;
}
.thumbnail{
  width:100px;
  height:160px;
}
.thumbnail img{
  width:100%;
}
.book h5{
  text-align: center;
  width: 150px;
}